<div class="container">
    <div class="txt text-center mt-5">
        <h1>MENU</h1>
    </div>

    <div class="table container py-5">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th></th>
                    <th>BreakFast</th>
                    <th>Lunch</th>
                    <th>Snacks</th>
                    <th>Dinner</th>
                </tr>
            </thead>
            <tbody>
                @for (day of days; track $index) {
                <tr>
                    <th>{{day}}</th>
                    <td><input type="text" class="form-control" readonly id="{{'m'+$index+'0'}}"></td>
                    <td><input type="text" class="form-control" readonly id="{{'m'+$index+'1'}}"></td>
                    <td><input type="text" class="form-control" readonly id="{{'m'+$index+'2'}}"></td>
                    <td><input type="text" class="form-control" readonly id="{{'m'+$index+'3'}}"></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>