<div class="container py-5 ">
    <div class="m-4 w-75 mx-auto">
        <div class="txt text-center">
           <h1>Hostels</h1>
        </div>
        <form [formGroup]="HostelGroup" (ngSubmit)="addHostel()">
            <div class="row pt-5">
                <div class="col-md-5">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="txtName" placeholder="Name"
                            formControlName="hostelName">
                        <label for="txtName">Name</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="selectType" formControlName="hostelType"
                            aria-label="Floating label select example">
                            <option value="Boys">Boys</option>
                            <option value="Girls">Girls</option>
                            <option value="Both">Both</option>
                        </select>
                        <label for="floatingSelect">Hostel Type</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger h-75 w-100" type="submit" [disabled]="!HostelGroup.valid">Add
                        Hostel</button>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table table-hover">
                <thead>
                    <tr>
                    <th>Hostel Name</th>
                    <th>Hostel Type</th>
                    <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                @for (x of hostels; track $index) {
                    <tr>
                        <td>{{x.name}}</td>
                        <td>{{x.type}}</td>
                        <td><i class="fa fa-times text-danger" aria-hidden="true" (click)="onDel(x._id)"></i></td>

                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
