<nav class="navbar navbar-expand-lg navbar-dark py-0 ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="dash">
            <img src="../../../assets/full-logo.png" alt="Logo" height="50px" 
                class="d-inline-block align-text-top">
        </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mt-0 mx-2 mb-lg-0">
            <li class="nav-item m-2">
               <a class="nav-link border px-4 rounded-pill " routerLink="menu-form" >Menu</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link border px-4 rounded-pill" routerLink="rebate">Students</a>
            </li>
            <li class="nav-item m-2">
                <a class="nav-link border px-4 rounded-pill " routerLink="rebate">Rebates</a>
            </li> 
            <li class="nav-item m-2">
                <a class="nav-link border px-4 rounded-pill" routerLink="feedback">Feedbacks</a>
            </li> 

        </ul>
            <ul class="navbar-nav ms-auto mb-2 mx-2 mb-lg-0">
                <li class="nav-item text-end pe-4">
                        <img src="../../../assets/admin_ppic.png"  height="40px" alt="">
                </li>  
            </ul>            
    </div>
</div>
</nav>