<div class="row py-5" style="min-height: 100vh;     background-color: #FFF6ED;">
    <div class="col-md-6 py-5 text-center">
        <img src="../../../assets/admin-dash-element .png" class="pt-5 w-75"  alt="">
    </div>
    <div class="col-md-6 text-center py-5">
        <div class="">
            <a routerLink="../student-form">
                <img src="../../../assets/admin-addStudent.png" class="w-75" alt="">
            </a>

        </div>
        <div class="">
            <a href="">
                <img src="../../../assets/admin-add mess.png"   class="w-75" alt="">
            </a>

        </div>
        <div class="">
            <a href="">
                <img src="../../../assets/admin-add hostel.png"  class="w-75" alt="">
            </a>

        </div>
    </div>
</div>